
/***********HOME SCREEN*******************/
.homepageImg{
    font-size: 34px;
}
body{
    background: url(../img/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}


/**************HOME SCREEN****************/