

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");


.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  color: black;

  &__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    padding: 1rem;
    text-align: center;
    display: inline;
    font-size: 20px;
  }

  &__description {
    // padding: 0 1rem;

    font-size: 12px;
  }


  &:hover {
    transform: scale(1.02);
  }


}
.card-actions{
  // float: right;
  display: block;
  margin-left: 197px;

}
.material-icons{
  display: block;
  margin-bottom: 20px;
  font-size: 19px;
  margin-left: 50px;
}

.card-details{
  float: left;
  margin-left: 20px;
  // margin-right: 58px;
}
.card-detail-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-control{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

  